# Clé d'API Google Gemini AI (Générée dans Google AI Studio)
GEMINI_API_KEY=AIzaSyBpS76O7tf6JnbCWgr5WTocIsdjDtzr0Oo

# URL de l'application (Sert pour l'envoi d'e-mails et authentification)
APP_URL=https://innova-pos-pro-155373054649.europe-west2.run.app

# Clé de l'API Google Maps Platform (Pour afficher la carte des partenaires)
GOOGLE_MAPS_PLATFORM_KEY=your_google_maps_key_here

# Configuration Serveur de messagerie SMTP (Exemple pour Gmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=innovapospro@gmail.com

# REMARQUE : Pour Gmail, utilisez un "Mot de passe d'application" (App Password) généré dans votre compte Google
SMTP_PASS=jkoe fwep mqxi gkck

# Définir sur "false" si port 587 (TLS/STARTTLS) ou "true" si port 465 (SSL)
SMTP_SECURE=false

# Nom de l'expéditeur qui s'affichera lors de la réception des alertes e-mail
SMTP_SENDER_NAME=INNOVA POS PRO
